body {
    font-family: sans-serif;
    background-image: linear-gradient(to left, #FF7D6F, #FFC544);
    color: ;
    margin: 0;
}

header {
    background-color: #FFB718;
    align-items: center;
    display: flex;
}

header img {
    width: 170px;
    border: 5px solid #E77100;
    margin: 15px;
    border-radius: 12px;
}

section img {
    width: 250px;
}

.perevagu {
    text-align: center;
    padding: 20px 10px 20px 10px;
    background-image: linear-gradient(to left, #FF2E18, #FFB718);
}

.tradition {
    height: 250px;
    width: 300px;
    border: 3px solid #B71100;
    border-radius: 15px;
    background-color: #ffc546;
    margin: 18px;
    padding: 10px;
}

.traditions {
    display: flex;
    justify-content: space-around;
}

.text {
    text-align: center;
    margin: 30px 50px 50px 50px;
    padding: 15px;
}

.text img {
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    width: 300px;
}

.part2 ul {
    text-align: left;
    font-size: 20px;
}

div {
    display: inline-block;
    align-items: center;

}

nav {
    display: inline-block;
    justify-content: flex-end;
    padding: 5px 5px 5px 5px;
    margin: 10px 5px 10px 10px;
}

.nav-link {
    font-size: 18px;
    margin: 0px 30px 30px 30px;
    border: 10px solid #E77100;
    background-color: #E77100;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    padding: 5px 10px 5px 10px;
}

h1 {
    text-align: center;
    font-size: 36px;
}

p {
    font-size: 20px;
}

footer {
    background-color: #B71100;
    margin: 50px 0px 0px 0px;
}

footer p {
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
}
